.slide {
  width: 200%;
  height: 47vw;
  position: relative;
  background-color: rgb(13, 13, 13);

  .images {
    width: 400vw;
    height: 730px;
    display: flex;
    position: absolute;
    left: 3.5vw;
    transition: all 0.5s;
    color: red;

    img {
      width: 90vw;
      height: 45vw;
      margin: 0 1.5vw;
      border-radius: 30px;
    }
  }

  .blur {
    width: 100vw;
    height: 45vw;
    background-color: rgba(13, 13, 13, 0.4);
    color: white;
    position: absolute;

    .movearrows {
      height: 94%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        padding: 20px;
        margin: 0 6vw;

        .a-icon {
          width: 30px;
          height: 30px;
        }
      }

      div:hover {
        cursor: pointer;
        color: rgb(195, 134, 87);
      }
    }

    .dots {
      display: flex;
      justify-content: center;

      div {
        width: 12px;
        height: 12px;
        margin: 0 7px;
        border-radius: 50px;
        transition: all 0.5s;
      }

      div:hover {
        cursor: pointer;
      }
    }
  }
}
