.slide {
  width: 200%;
  height: 800px;
  position: relative;
  .images {
    width: 400vw;
    height: 730px;
    display: flex;
    position: absolute;
    transition: all 0.5s;

    img {
      width: 100vw;
      height: 790px;
    }
  }

  .blur {
    width: 100vw;
    height: 790px;
    background-color: rgba(13, 13, 13, 0.6);
    color: white;
    position: absolute;

    .movearrows {
      height: 94%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        padding: 20px;
        margin: 15px;

        .a-icon {
          width: 30px;
          height: 30px;
        }
      }

      div:hover {
        cursor: pointer;
        color: rgb(195, 134, 87);
      }
    }

    .dots {
      display: flex;
      justify-content: center;

      div {
        width: 14px;
        height: 14px;
        margin: 0 7px;
        border: 2px solid white;
        border-radius: 50px;
      }

      div:hover {
        cursor: pointer;
      }
    }
  }
}
