.slide {
  width: 200%;
  height: 44.6vw;
  position: relative;
  background-color: rgb(13, 13, 13);

  .images {
    width: 400vw;
    height: 730px;
    display: flex;
    position: absolute;
    left: 3.5vw;
    transition: all 0.5s;

    .img1 {
      div {
        position: absolute;
        width: 90vw;
        font-family: "Orbit", sans-serif;
        color: white;
        text-align: center;
      }

      .txt1 {
        font-size: 1.3vw;
        top: 16.5vw;
      }

      .txt2 {
        font-size: 1.3vw;
        top: 18.5vw;
      }

      .txt3 {
        font-size: 2.3vw;
        top: 22.5vw;
        font-weight: 800;
      }
    }

    .img2 {
      div,
      ul {
        position: absolute;
        font-family: "Orbit", sans-serif;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .txt4 {
      width: 90vw;
      top: 10vw;
      background-color: rgb(195, 134, 87);
    }

    .txt5 {
      width: 90vw;
      top: 12vw;
    }

    img {
      width: 90vw;
      height: 43.8vw;
      margin: 0 1.5vw;
      border-radius: 30px;
    }
  }

  .blur {
    width: 100vw;
    height: 43.8vw;
    color: white;
    position: absolute;

    .movearrows {
      height: 96%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        padding: 20px;
        margin: 0 6vw;

        .a-icon {
          width: 30px;
          height: 30px;
        }
      }

      div:hover {
        cursor: pointer;
        color: rgb(195, 134, 87);
      }
    }

    .dots {
      display: flex;
      justify-content: center;

      div {
        width: 12px;
        height: 12px;
        margin: 0 7px;
        border-radius: 50px;
        transition: all 0.5s;
      }

      div:hover {
        cursor: pointer;
      }
    }
  }
}
