.footer {
  height: 280px;
  background-color: var(--header-back-black);
  color: var(--header-txt-white);
  display: flex;
  justify-content: center;

  .inline_wide {
    width: 1450px;
    padding: 30px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      padding-left: 10px;

      .footerlogo {
        margin-bottom: 20px;
        color: var(--header-txt-orange);
        font-size: 25px;
      }

      .address {
        font-size: 13px;
        margin-bottom: 13px;
      }

      .tel {
        font-size: 13px;
        margin-bottom: 55px;
      }
    }

    .right {
      padding-right: 20px;

      .sns {
        display: flex;

        a {
          background-color: rgb(200, 200, 200);
          padding: 7px 7px 3px 7px;
          margin-right: 20px;
          border-radius: 30px;
        }

        img {
          height: 30px;
        }
      }
    }
  }

  .inline_small {
    width: 950px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top {
      padding-left: 10px;

      .footerlogo {
        margin-bottom: 30px;
        color: var(--header-txt-orange);
        font-size: 20px;
      }

      .address {
        font-size: 12px;
        margin-bottom: 13px;
      }

      .tel {
        font-size: 12px;
        margin-bottom: 40px;
      }
    }

    .bottom {
      padding-right: 20px;

      .sns {
        display: flex;

        a {
          padding: 7px 7px 3px 7px;
          margin-right: 20px;
          background-color: rgb(200, 200, 200);
          border-radius: 30px;
        }

        img {
          height: 30px;
        }
      }
    }
  }
}
