.signup_c {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 450px;
    height: 650px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;

    .signuplogo {
      margin-bottom: 55px;
      font-size: 21px;
      font-weight: bold;
    }

    span {
      margin-left: 7px;
      font-size: 16px;
      font-weight: bold;
    }

    .red {
      margin-left: 2px;
      color: red;
      font-size: 13px;
    }

    .box0 {
      display: flex;
      margin-bottom: 30px;

      .allcheck {
        width: 23.5px;
        height: 23.5px;
        padding: 3.1px;
        color: rgb(148, 154, 166);
        border: 2px solid rgb(148, 154, 166);
        border-radius: 100px;
      }

      .allcheck:hover {
        cursor: pointer;
      }
    }

    .box1 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .check1 {
        width: 23.5px;
        height: 23.5px;
        padding: 3.1px;
        color: rgb(148, 154, 166);
        border: 2px solid rgb(148, 154, 166);
        border-radius: 100px;
      }

      .check1:hover {
        cursor: pointer;
      }
    }

    .box2 {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .check2 {
        width: 23.5px;
        height: 23.5px;
        padding: 3.1px;
        color: rgb(148, 154, 166);
        border: 2px solid rgb(148, 154, 166);
        border-radius: 100px;
      }

      .check2:hover {
        cursor: pointer;
      }
    }

    .txt {
      height: 160px;
      margin-bottom: 40px;
      border: 1px solid rgb(150, 150, 150);
      overflow-y: scroll;
    }

    .txt::-webkit-scrollbar {
      width: 11px;
    }

    .txt::-webkit-scrollbar-thumb {
      background: lightgray;
      border-radius: 10px;
    }
  }
}
