.signup {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .signuplogo {
    font-family: "Space Mono", monospace;
    font-size: 35px;
    text-align: center;
    margin-bottom: 45px;
  }

  form {
    div {
      margin: 10px 0;

      input {
        margin-right: 3px;
      }
      span {
        margin-left: 4px;
      }

      .red {
        color: red;
      }
    }

    .txt {
      width: 40vw;
      height: 100px;
      border: 1px solid black;
      overflow-y: scroll;
    }
  }
}
