* {
  font-family: "Malgun Gothic";
}

.signup {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 450px;
    height: 750px;
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;

    .signuplogo {
      margin-bottom: 30px;
      font-family: "Malgun Gothic";
      font-size: 21px;
      font-weight: bold;
    }

    h4 {
      margin: 17px 0 3px 3px;
    }

    .idarea {
      display: flex;
      align-items: center;

      .inputid {
        width: 74%;
      }

      button {
        width: 26%;
        height: 47px;
        margin-top: 0;
        font-size: 14.5px;
      }
    }

    input {
      height: 47px;
      margin: 0;
      font-size: 15px;
    }

    .idtext {
      margin: 4px 0 2px 3px;
      color: yellowgreen;
      font-size: 14px;
    }

    .graytext {
      margin: 0 0 8px 3px;
      color: gray;
      font-size: 14px;
    }

    .pwchecktext {
      margin: 4px 0 2px 3px;
      color: yellowgreen;
      font-size: 14px;
    }

    .nameh {
      margin-top: 40px;
    }

    button {
      height: 52px;
      margin-top: 25px;
      background-color: rgb(235, 146, 78);
      color: white;
      border: none;
      border-radius: 2px;
      font-size: 17px;
    }

    button:hover {
      cursor: pointer;
      background-color: rgb(220, 131, 63);
    }
  }
}
