input {
  height: 52px;
  padding: 0 10px;
  margin: 0 20px;
  border: 1px solid #e5e7eb;
  border-radius: 2px;
  outline: none;
  font-size: 17px;
}

input::placeholder {
  color: rgb(203, 203, 203);
}
