li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(195, 134, 87);
  font-family: "Space Mono", monospace;
}

a:hover {
  color: rgba(255, 255, 255, 0.87);
}

header {
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: rgb(13, 13, 13);
  z-index: 999;

  .inline {
    width: 1650px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .left {
      width: 705px;
      display: flex;
      color: white;

      .logo {
        display: flex;
        align-items: center;
        img {
          width: 85px;
          height: 80px;
        }

        .logotext {
          margin-left: 6px;
          display: inline-block;
          color: rgb(195, 134, 87);
          font-family: "Sedgwick Ave", cursive;
          font-style: normal;
          font-size: 35px;
        }
      }

      .logo:hover {
        cursor: pointer;
      }

      .nav_menu {
        margin-left: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          padding: 15px;
          font-size: 19px;
        }

        a:hover {
          border-bottom: 2px solid rgb(195, 134, 87);
        }
      }
    }

    .right {
      display: flex;

      ul {
        margin-left: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-size: 13px;
          padding: 5px;
        }
      }
    }
  }
}
