header {
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: rgb(13, 13, 13);

  .inline {
    width: 1600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    // border-left: 1px solid red;
    // border-right: 1px solid red;

    .left {
      width: 600px;
      display: flex;
      color: white;

      .logo {
        display: flex;
        align-items: center;
        img {
          height: 85px;
        }

        .logotext {
          margin-left: 6px;
          display: inline-block;
          color: rgb(195, 134, 87);
          font-family: "Sedgwick Ave", cursive;
          font-style: normal;
          font-size: 35px;
        }
      }

      .nav_menu {
        margin-left: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        a {
          padding: 14px;
          color: rgb(195, 134, 87);
          font-size: 19px;
          font-family: "Asap Condensed", sans-serif;
          text-decoration: none;
        }

        a:hover {
          border-bottom: 1px solid rgb(195, 134, 87);
        }
      }
    }
  }
}
